{% extends 'layout.html' %}
{% set active_page = 'simulator' %}

{% block body %}
    <h1>Simulator</h1>

    <div class="input-group col-sm-6">
        <span class="input-group-addon">IP</span>
        <input id="ip" type="text" class="form-control" value="::1">
    </div>

    <div class="spacer-30"></div>

    <div class="btn-group">
        <button type="button" data-action="menu" class="btn event btn-default"><span class="glyphicon glyphicon-th-list"></span></button>
        <button type="button" data-action="prev" class="btn event btn-default"><span class="glyphicon glyphicon-backward"></span></button>
        <button type="button" data-action="play" class="btn event btn-default"><span class="glyphicon glyphicon-pause"></span></button>
        <button type="button" data-action="next" class="btn event btn-default"><span class="glyphicon glyphicon-forward"></span></button>
    </div>

    <div class="spacer-10"></div>

    <div class="btn-group">
        <button type="button" data-action="rotary-left" class="btn event btn-default"><span class="glyphicon glyphicon-repeat mirrored"></span></button>
        <button type="button" class="btn btn-default disabled">Navigation</button>
        <button type="button" data-action="rotary-right" class="btn event btn-default"><span class="glyphicon glyphicon-repeat"></span></button>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/simulator');

            socket.on('error', function(msg) {
                console.log('ERROR: ' + msg.reason);
            });

            socket.on('success', function(msg) {
                console.log('SUCCESS: ' + msg.action);
            });

            $('.btn.event').mousedown(function() {
                action = $(this).attr('data-action');
                if (action.indexOf('rotary') != 0) {
                    socket.emit('button', {action: action, state: 'pressed'})
                }
            });
            $('.btn.event').mouseup(function() {
                socket.emit('button', {action: action, state: 'released'});
            });
        });
    </script>
{% endblock %}
