{% extends 'layout.html' %}
{% set active_page = 'simulator' %}

{% block body %}
    <h1>Simulator</h1>

    <div class="btn-group">
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pause"></span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-forward"></span></button>
    </div>

    <div class="spacer-10"></div>

    <div class="btn-group">
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-repeat mirrored"></span></button>
        <button type="button" class="btn btn-default disabled">Navigation</button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-repeat"></span></button>
    </div>
{% endblock %}
