body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 2px;
}
.sidebar-nav li {
    line-height: 1;
}
.sidebar-nav li.disabled {
    line-height: 1.2;
}

.hidden {
    display: none;
}

/* .nav-header hack, see http://stackoverflow.com/a/18330040/284318 */
.nav > li.disabled.nav-header > a {
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
