body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 2px;
}
.sidebar-nav li {
    line-height: 1;
}
.sidebar-nav li.disabled {
    line-height: 1.2;
}

.hidden {
    display: none;
}

/* .nav-header hack, see http://stackoverflow.com/a/18330040/284318 */
.nav > li.disabled.nav-header > a {
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.mirrored {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.spacer-10 {
    margin-top: 10px;
}
.spacer-30 {
    margin-top: 30px;
}
.spacer-50 {
    margin-top: 50px;
}
